name: Deploy and Run Container App
env:
  REPO_NAME: ${{ github.event.repository.name }}
on:
  workflow_dispatch:
    inputs:
      tag:
        description: "tag version (e.g. v1.0.0)"
        required: false
permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v5
      with:
        fetch-depth: 0
        
    - name: 'Login via Azure CLI'
      uses: azure/login@v2.3.0
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: 'Build and Push Docker Image'
      run: |
        IMAGE_NAME=${{ secrets.ACR_NAME_URL }}/${{env.REPO_NAME}}

        
        docker build . -t $IMAGE_NAME:${{ github.sha }}
        docker push $IMAGE_NAME:${{ github.sha }}                                             # Imagen con el SHA

        
        if [[ "${GITHUB_REF_TYPE}" == "tag" && "${GITHUB_REF_NAME}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
          echo "Building release image with tag ${GITHUB_REF_NAME}"                                                           # Imagen tag tipo vX.Y.Z
          docker build . -t $IMAGE_NAME:${GITHUB_REF_NAME}
          docker push $IMAGE_NAME:${GITHUB_REF_NAME}
        fi
    
    - name: 'Deploy Container App'
      uses: azure/container-apps-deploy-action@v1
      with:
        appSourcePath: ${{ github.workspace }}
        dockerfilePath: Dockerfile
        acrName: ${{ secrets.ACR_NAME }}
        acrUsername: ${{ secrets.REGISTRY_USERNAME }}
        acrPassword: ${{ secrets.REGISTRY_PASSWORD }}
        location: eastus
        containerAppName: flask-estructura
        resourceGroup: ${{ secrets.AZURE_RESOURCE_GROUP }}
        imageToDeploy: ${{ secrets.ACR_NAME_URL }}/${{env.REPO_NAME}}:${{ github.sha }}
        ingress: external
        targetPort: 5000
        
    - name: 'logout'
      run: |
        az logout
