name: Deploy and Run
env:
  REPO_NAME: ${{ github.event.repository.name }}            #toma nombre del repositorio
on:
  workflow_dispatch:                                          #se ejecuta manualmanete de github actions 
    inputs:                                 #permite pasar el parámetro de tag  v1.0.0  al iniciarlo de forma manual
      tag:
        description: "tag version (e.g. v1.0.0)"
        required: false
permissions:
  id-token: write   #permiso para escritura azure 
  contents: read    #lectura de repo

jobs:
  build:
    runs-on: ubuntu-latest      #runner virtual con ubuntu usa ubuntu
    defaults:
      run:
        shell: bash             #ejecucion en bash
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v5               #action oficial descarga código al repo
     
    - name: 'Login via Docker'
      uses: azure/docker-login@v2
      with:
        login-server: ${{ secrets.ACR_NAME_URL }}         #URL del registry azure
        username: ${{ secrets.REGISTRY_USERNAME }}        #credenciales guardadas de 
        password: ${{ secrets.REGISTRY_PASSWORD }}        #github secrets

    - name: 'Build and Push Docker Image'
      run: |                                                                                #Construye y sube la imagen Docker al ACR
        IMAGE_NAME=${{ secrets.ACR_NAME_URL }}/${{env.REPO_NAME}}

                                        
        docker build . -t $IMAGE_NAME:${{ github.sha }}
        docker push $IMAGE_NAME:${{ github.sha }}                                                 #commit imagen

        # Imagen tag tipo vX.Y.Z
        if [[ "${GITHUB_REF_TYPE}" == "tag" && "${GITHUB_REF_NAME}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then           #si es v1.0.0 o X.Y.Z crea imagen junto a tag y la sube imagen versionada sha
          echo "Building release image with tag ${GITHUB_REF_NAME}"
          docker build . -t $IMAGE_NAME:${GITHUB_REF_NAME}
          docker push $IMAGE_NAME:${GITHUB_REF_NAME}
        fi

  deploy:
    needs: build        #corre si build termino de forma correcta
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - name: 'Login via Azure CLI'
      uses: azure/login@v2.3.0
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: 'Deploy Container Instance'                                         #Despliega la imagen Docker en Azure Container Instances (ACI)
      uses: azure/aci-deploy@v1.1.3
      with:
        location: eastus
        name: flask-estructura
        resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
        image: ${{ secrets.ACR_NAME_URL }}/${{env.REPO_NAME}}:${{ github.sha }}
        dns-name-label: flask-estructura-${{ github.run_id }}-${{ github.run_attempt }}
        registry-username: ${{ secrets.REGISTRY_USERNAME }}
        registry-password: ${{ secrets.REGISTRY_PASSWORD }}
        ports: 5000
        cpu: 1
        memory: 1
    
    - name: 'logout'                #cierre sesión CLI
      run: |
        az logout

      #TODO:Que si viene con una etiqueta o con un tag, me cree una imagen con la etiqueta o con el tag en donde es del tipo vX.Y.Z que se envio y ademas, ver de actualizar las versiones de los scripts.