name: Deploy and Run
env:
  REPO_NAME: ${{ github.event.repository.name }}

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "tag version (e.g. v1.0.0)"
        required: false

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Docker metadata                                                                       # tags de imagen (sha y semver)
        id: meta
        uses: docker/metadata-action@v5                                         
        with:
          images: ${{ secrets.ACR_NAME_URL }}/${{ env.REPO_NAME }}
          tags: |
            type=sha                                                                                # TAG BASADO EN SHA
            type=semver,pattern={{version}}                                 #crea un tag con el número de versión tags semánticos 
            type=semver,pattern={{major}}.{{minor}}                         #crea un tag solo con major.minor 2.1 POR EJEMPLO

      
      - name: Login to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_NAME_URL }}
          username: ${{ secrets.REGISTRY_USERNAME }}            # Login en Azure Container Registry
          password: ${{ secrets.REGISTRY_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Login via Azure CLI
        uses: azure/login@v2.3.0
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Deploy Container Instance
        uses: azure/aci-deploy@v1.1.3
        with:
          location: eastus
          name: flask-estructura
          resource-group: ${{ secrets.AZURE_RESOURCE_GROUP }}
          image: ${{ secrets.ACR_NAME_URL }}/${{ env.REPO_NAME }}:sha-${{ github.sha }}
          dns-name-label: flask-estructura-${{ github.run_id }}-${{ github.run_attempt }}
          registry-username: ${{ secrets.REGISTRY_USERNAME }}
          registry-password: ${{ secrets.REGISTRY_PASSWORD }}
          ports: 5000
          cpu: 1
          memory: 1

      - name: Logout
        run: az logout
#observabilidad opentelemetry todo trata de tener un formato en común elasticssherch grafana y extension de datos, logger, métricas, Trace